:root {
  --main-column-width: 500px;
  --card-width: 250px;
  --card-height: 325px; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

.column {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: var(--main-column-width); }

.wrap {
  width: 100%;
  background-color: violet; }

.card {
  flex: 0 1 auto;
  margin: 0 auto;
  height: var(--card-height);
  width: var(--card-width);
  background-color: greenyellow; }

.button {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
  height: 80%;
  width: 75px;
  background-color: teal; }
  .button:hover {
    background-color: springgreen; }

.header {
  background-color: cyan; }

.response {
  background-color: tomato; }
